<div class="newlisting padding">
 



  


  <%# need to check again what is the replacement of @listing.user.username ? %>
  <div class="columns">
    <div class="column is-8 padding2">
      <h1 class="title is-1"><%= @listing.title %></h1>
      <div class="content">
        <p class="pb3 border-bottom">Posted <%= time_ago_in_words(@listing.created_at) %> ago</p>
      </div>    
    </div>

    <div class="column is-3 is-offset-1">
     
      <div class="pr5 mb4">
        <p class="text-align-left f6">listing author:</p>
        <div class="inline-block nudge-down-10"><%= gravatar_for @listing.user, size: 32 %></div>
        <div class="inline-block"><%= @listing.user.username %></div>
      </div>
      
      <div class="padding2">
        <% if user_signed_in? && current_user.id != @listing.user_id %>
          <%= button_to "Message #{@listing.user.username}", conversations_path(sender_id: current_user.id, recipient_id: @listing.user.id), method: 'post', class:"button is-link" %>
        <% elsif user_signed_in? && current_user.id == @listing.user_id  %>
          <%= link_to "Go to Messages", conversations_path %>
        <% else %>
        <%= link_to "Sign up to message #{@listing.user.username}", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>



  <p>
    <strong>Price:</strong>
    $<%= @listing.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <td><% @listing.closed %>
      <% if @listing.closed == true %>
        <%= "closed" %>
      <% else %>
        <%= "open" %>
      <% end %>
    </td>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= @listing.user.username %>
  

  <p>
    <strong>Category:</strong>
    <%= @listing.category.name %>
  </p>

  <div class="padding2">
    <strong>Description:</strong>
    <%= @listing.description %>
  </div>

  
  <div class="padding2">
    <% if @listing.image.attached? %>
      <p>Attached files:</p>
      <%= image_tag @listing.image, alt: @listing.title %>
    <% else %>
      <%= image_tag "gallery.png", alt: @listing.title, size: 125 %>
    <% end %>
  </div>

  <% if @listing.closed %>
    <h1>Sorry, this project has been Closed</h1>
  <% elsif current_user && current_user.id == @listing.user_id %>
    <h3>Note: This is your own listing</h3>
  <% end %>


  <div class="padding2">
    <% if listing_author(@listing) %>
      <div class="bg-light pa3 mb4 border-radius-3">
        
        <div class="button-group">
          <% if current_user && current_user.id == @listing.user_id %>
          <%= link_to 'Edit', edit_listing_path(@listing) %> |
          <% end %>
          <%= link_to 'Back', listings_path %>
        </div>
      </div>  
    <% end %>
  </div>
</div>