<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Sign up</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
   

  </head>
  <body>

    <main class="form-signin w-100 m-auto">
      <form>
        
        <h1>Forgot your password?</h1><br>



    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "floatingPassword", placeholder: "Password", class: "form-control" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div><br>
    <% end %>
  </body>
</html>


